.right{
  clear: left;
  align-self: flex-end;
}

.container{
  min-width: 450px;
  width: 30%;
}

.logo{
  align-self: center;
}

.logo > img {
  background-color: red;
}

.card{
  min-width: 400px;
  margin-top: 10%;
}

.error{
  color: red;
}
